:root {
    --color-primary: #101422; /* Fondo oscuro o texto principal */
    --color-secondary: #98A0AF; /* Texto secundario o detalles */
    --color-tertiary: #283255; /*Hover botones*/
    --color-border: #BBBBBB; /* Bordes y separadores */
    --color-background: #FFFFFF; /* Fondo claro */
}

* {
    font-family: "Geist", serif;
    font-weight: 300;
    font-style: normal;
    box-sizing: border-box;
    color: var(--color-primary);
}

body.no-scroll {
    overflow: hidden;
}

/*---------------HEADER STYLES---------------*/

header {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--color-border);
    position: fixed;
    background-color: var(--color-background);
}

.header__title {
    display: flex;
    width: 15%;
    align-items: center;
    margin-block-end: 0;
}

.header__title-icon {
    margin-right: .4rem;
}

.header__search { /* TODO: Cambiar color del borde */
    height: 60%;
    width: 80%;
}

.header__search-input {
    width: 50%;
    margin-right: 0.5%;
    margin-left: 1rem;
    padding: .6rem;
}

.header__search-addon {
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    width: 9%;
}


.header__theme-toggle {
    font-size: 1.4rem;
    cursor: pointer;
}

.header__burger-open {
    background: transparent;
    font-size: 2.5rem;
    display: none;
    border: none;
    width: 4rem;
    height: 4rem;
}

/*---------------SIDEBAR STYLES---------------*/

.sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    position: fixed;
    padding-top: 7rem;
    border-right: 1px solid var(--color-border);
    width: 18.13rem;
    height: 100%;
    background-color: var(--color-background);
}

.sidebar__search{
display: none;
margin: 1.4rem 0;
}

.sidebar__search-input{
    height: 3rem;
}

.sidebar__search-addon{
    background: transparent;
    font-size: 1.3rem;
}

.sidebar__nav {
    flex-grow: 1;
}

.sidebar__title {
    font-size: 1.3rem;
    margin-bottom: .3rem;
    font-weight: 500;
}

.sidebar__list {
    list-style: none;
    padding-left: 20px;
    font-size: 19px;
}

.sidebar__item {
    cursor: pointer;
}

.sidebar__item:hover {
    font-weight: 500;
}

.sidebar__burger-close {
    font-size: 2rem;
    display: none;
    border: none;
    background: transparent;
    width: 2.5rem;
}


/*---------------MAIN STYLES---------------*/

main {
    z-index: -9999;
    padding: 7rem 0 11rem 18.13rem;
    width: 100%;
}


/*---------------FOOTER STYLES---------------*/

footer {
    min-height: 6.3rem;
    width: 100%;
    padding: 1.25rem 1.87rem;
    background-color: var(--color-background);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
    border-top: 1px solid var(--color-border);
}

footer p {
    margin-block-end: 0;
    font-size: 1rem;
    font-weight: 200;
}



.footer__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    header{
        justify-content: start;
    }
    .header__title{
        width: 100%;
        margin-left: .5rem;
    }
    .header__burger-open{
        display: block;
    }
    .header__search{
        display: none;
    }

    .overlay {
        opacity: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.8);
        z-index: 999;
        transition: all .3s ease-in-out;
    }
    .overlay.active{
        display: block;
        opacity: 1;
    }

    .sidebar {
        padding-top: 1rem;
        padding-left: 2rem;
        z-index: 9999;
        transition: .5s ease;
        transform: translateX(-100%);
        
    }
    .sidebar.active {
        display: flex;
        transform: translateX(0%);
    }
    .sidebar__burger-close {
        display: block;
    }
    .sidebar__search{
        display: flex;
    }

    main {
        padding-left: 0;
        padding-bottom: 2.1rem;
    }

    footer{
        position: unset;
    }
    footer p{
        font-size: 1.2rem;
    }
}